* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.body--dark{
    background-color: #18292C;
}
body{
    height: auto;
}
.opcionesJuego--ligth{
    background-color: #c6c6c6;
}
.opcionesJuego--dark{
    background-color: #426368;
}
.opcionesJuego {
  margin: auto;
  padding: 2%;
  width: 65%;
  height: 65%;
  display: flex;
  flex-flow: column wrap;
}
.btn--ligth{
    background-color: #d2daed;
}
.btn--ligth:hover{
    background-color: #d9ffe9;
    cursor: pointer;
}
.btn--dark{
    background-color: #03363d;
}

.btn--dark:hover{
    cursor: pointer;
    background-color: #174d4d;
}
.boton {
  color: black;
  margin: 3% auto;
  padding: 4%;
  width: 20%;
  height: 20%;
  border-style: none;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 900;
}
.txt--white{
    color: white;
}
.deshabilitado{
    background-color: #272B2C;
    font-weight: lighter;
}
.deshabilitado:hover{
    background-color: black;
    opacity: 0.8;
    cursor: not-allowed;
}
.mayuscula{
    text-transform: uppercase;
}
.user{
    color: blue;
}
.pc{
    color: red;
}
/*HEADER*/
header{
    margin: 1%;
    padding: 3%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.boxTheme{

    width: 20%;
    height: 100%;
    display: flex;
}
.masOps{
    width: 40%;
}
/*MODAL*/
.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
}

.modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
}

.modal__container{
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: #fff;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition:var(--transition);
}
.modal__title{
    font-size: 2.5rem;
    text-transform: uppercase;
}
.modal__text{
    margin: 2% 2% 0;
    padding: 0 2%;
    font-size: larger;
    font-weight: bolder;
    letter-spacing: 0.5px;
}
.modal__close{
    padding: 1em 3em;
    background-color: #F26250;
    color: #fff;
    display: inline-block;
    border: 1px solid ;
    border-radius: 6px;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    font-size: larger;
    transition: background-color .1s;
}
.modal__close:hover{
    color: #F26250;
    background-color: #fff;
}
.win{
    color: green;
}
.lose{
    color: red;
}
.tie{
    color: orange;
}

/*Media Query*/
@media (max-width:800px) {
    header{
        width: 100%;
        padding: 1%;
        margin: 2%;
    }
    .boton{
        width: 40%;
    }
    .boxTheme{
        width: 40%;
    }
    .modal__container{
        padding: 2em 1.5em;
        width: 80%;
    }
    .modal__close{
        padding: 1em 2em;
    }
    .modal__title{
        font-size: 2rem;
    }
}
@media (max-width: 480px) {
    header{
        width: 100%;
        padding: 1%;
        margin: 2%;
        display: flex;
        flex-wrap: wrap;
    }
    .boxTheme{
        width: 60%;
    }

    .opcionesJuego {
        background-image: url('../images/OIP.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 10% auto;
        padding: 2%;
        width: 90%;
        height: 80%;
        display: flex;
        flex-flow: column wrap;
      }
}
